{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<div class="table-responsive-md">
    <table class="table mx-auto w-50">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
                <th>Transaction Type</th>
                <th>Date</th>
            </tr>
        </thead>

        <tbody>
            {% for stock in stocks %}
            <tr>
                <td>{{stock["symbol"]}}</td>
                <td>{{stock["share"]}}</td>
                <td>${{stock["price"]}}</td>
                <td>${{stock["share"] * stock["price"]}}</td>
                <td>${{stock["transaction_type"]}}</td>
                <td>${{stock["date"]}}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td>Cash</td>
                <td>${{cash}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Total</td>
                <td>$10,0000.00</td>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}
